{% extends './layout.html' %}
{% block title %} Ay hola {% endblock %}
{% block body %}

<h2>Bienvenido</h2>
<p>Boutique</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti sapiente distinctio perferendis. Alias ipsa
    distinctio voluptatem aliquid inventore voluptatum vel doloremque impedit at, dolores, saepe voluptates accusantium
    nisi temporibus veritatis.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti sapiente distinctio perferendis. Alias ipsa
    distinctio voluptatem aliquid inventore voluptatum vel doloremque impedit at, dolores, saepe voluptates accusantium
    nisi temporibus veritatis.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti sapiente distinctio perferendis. Alias ipsa
    distinctio voluptatem aliquid inventore voluptatum vel doloremque impedit at, dolores, saepe voluptates accusantium
    nisi temporibus veritatis.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti sapiente distinctio perferendis. Alias ipsa
    distinctio voluptatem aliquid inventore voluptatum vel doloremque impedit at, dolores, saepe voluptates accusantium
    nisi temporibus veritatis.</p>

{% endblock %}