<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https:// cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/estilos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/docs.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

</head>

<body>
    <div class="header container-fluid">
        <a class="titulo" href="{{url_for('dashboard')}}"><img src="{{ url_for('static',filename = 'img/logoB.svg') }}"
                height="60"></a>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container-fluid">
                <button class="menu-toggle" aria-label="Toggle menu"><img
                        src="{{ url_for('static',filename = 'img/menu.svg') }}" alt=""></button>
                <ul class="navbar-nav me-auto">
                    {% if current_user.rol == 1 %}
                    <li class="nav-item"><a class="nav-link" href="{{url_for('usuarios')}}">USUARIOS</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{{url_for('prendas')}}">PRENDAS</a></li>
                    {% if current_user.rol == 1 %}
                    <li class="nav-item"><a class="nav-link" href="{{url_for('proveedores')}}">PROVEEDORES</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{{url_for('ventas')}}">VENTAS</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('sApartado')}}">APARTADOS</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">CERRAR SESIÓN</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="content">
        {% block body %}
        {% endblock %}
    </div>


    <footer class="footer bg-dark text-white text-center py-3">
        <div class="container">
            <p class="mb-0">© SPVBMA 2024 Todos los derechos reservados.</p>
            <p class="mb-0">Síguenos en
                <a href="https://www.facebook.com/profile.php?id=100010694017208" class="text-white">Facebook</a> e
                <a href="https://www.instagram.com/miah_boutique28/" class="text-white">Instagram</a>.
            </p>
            </p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
</body>

</html>