{% extends './layout.html' %}
{% block title %} {{titulo}} {% endblock %}
{% block body %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <h2 class="text-center">Editar proveedor</h2>
      <br>
      <form method="POST" action="{{url_for('proveedores_actualizar',id=proveedor[0])}}">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

        <div class="form-group">
          <label for="nombre_proveedor">Nombre(s)</label>
          <input type="text" class="form-control" id="nombre_proveedor" placeholder="Nombre" name="nombre_proveedor"
            value="{{proveedor[1]}}">
        </div>

        <div class="form-group">
          <label for="celular_proveedor">Celular</label>
          <input type="text" class="form-control" id="celular_proveedor" placeholder="Número" name="celular_proveedor"
            value="{{proveedor[2]}}">
        </div>
        <br>
        <div class="text-center">
          <a class="btn btn-outline-danger" href="{{url_for('proveedores')}}">Cancelar</a>
          <button class="btn btn-outline-danger" type="submit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}