{% extends './layout.html' %}
{% block title %} Ay hola {% endblock %}
{% block body %}


<h2>registrar usuario</h2>
<form action="{{url_for('usuario_crear')}}" method="POST" class="row g-3">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Nombre" name="nombre">
        <label for="floatingInput">Nombre</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingInput" placeholder="Contraseña" name="contra">
        <label for="floatingInput">Contraseña</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Numero de telefono" name="num">
        <label for="floatingInput">Numero de telefono</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Domicilio" name="domi">
        <label for="floatingInput">Domicilio</label>
    </div>
    <div class="d-flex gap-2 justify-content-center py-5">
        <button class="btn btn-primary d-inline aling-items-center" type="submit">Guardar</button>

        <a class="btn btn-outline-danger d-inline aling-items-center" href="{{url_for('usuarios')}}">Cancelar</a>
    </div>
    <br>

</form>
{% endblock %}