{% extends 'layout.html' %}
{% block body %}

<h2>Sistema de Apartado</h2>
<!-- -----------------Alertas de registro, editado, borrado y restaurado---------------------------- -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if " Error" in message %}danger {% elif "Advertencia" in message %}warning {% else %}success
    {% endif %} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!-- -------------------------------------BUSCADOR------------------------------------------ -->
<div class="row mb-2">
    <div class="col">
        <h2></h2>
    </div>
    <div class="col">
        <form method="get" action="{{url_for('sApartado')}}" class="d-flex">
            <input class="form-control" type="text" name="buscar" value="{{ search_query }}" placeholder="Buscar..."
                required>
            <button class="btn btn-outline-danger d-inline-flex align-items-center" type="submit"><i
                    class="fas fa-search"></i> </button>
        </form>
    </div>
    <!-- -------------------------NUEVO APARTADO-------------------------------------- -->
    <div class="col text-end"><a href="{{ url_for('apartado_nuevo') }}"
            class="btn btn-outline-danger d-inline-flex align-items-center"><img
                src="{{ url_for('static',filename = 'img/plus.svg') }}" alt="">Nuevo</a></div>
</div>
<br>

<h4> Vendedor(a): {{current_user.nombre_usuario}}</h4>

<table class="table-bordered table-responsive">
    <thead>
        <tr>

            <th class="text-center tit">Ver</th>
            <th class="text-center tit">Pagado</th>
            <th class="text-center tit">Precio final</th>
            <th class="text-center tit">Nombre del cliente</th>
            <th class="text-center tit">Prenda</th>
            <th class="text-center tit">Fecha de apartado</th>
            <th class="text-center tit">Fecha límite</th>
            {% if current_user.rol == 1 %}
            <th class="text-center tit">Editar</th>
            <th class="text-center tit">Cancelar</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>

        {% for apartado in apartado %}
        {% if apartado.activo == True %}

        <tr>
            <td class="text-center">
                <div class="btn btn-outline-danger d-inline-flex align-items-center">
                    <a href="{{ url_for('apartado_detalle', id=apartado.id_apartado) }}">
                        <img src="{{ url_for('static', filename='img/eye.svg') }}" alt="Ver" height="18">
                    </a>
                </div>
            </td>
            <td class="text-center">{{ apartado.anticipo }}</td>
            <td class="text-center">{{ apartado.precio_final }}</td>
            <td class="text-center">{{ apartado.nombre_cliente }}</td>
            <td class="text-center">{{ apartado.prenda_mostrar }}</td>
            <td class="text-center">{{ apartado.fecha_apartado }}</td>
            <td class="text-center">{{ apartado.fecha_limite }}</td>

            {% if current_user.rol == 1 %}
            <td>
                <div class="btn btn-outline-danger d-inline-flex align-items-center">
                    <a href="{{ url_for('apartado_editar', id=apartado.id_apartado) }}">
                        <img src="{{ url_for('static', filename='img/edit.png') }}" alt="Editar" height="18">
                    </a>
                </div>
            </td>

            <td class="text-center">
                <button type="button" class="btn btn-outline-danger d-inline-flex align-items-center"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{ apartado.id_apartado }}">
                    <img src="{{ url_for('static', filename='img/delete.png') }}" alt="Borrar" height="18">
                </button>
            </td>
        </tr>
        {% endif %}


        {% endif %}
        {% endfor %}
    </tbody>
</table>
<br>
<!-- -------------------------------------------------PAGINADOR----------------------------------------------- -->
<nav aria-label="Page navigation example" class="justify-content-center">
    <ul class="pagination justify-content-center" style="margin:20px 0">
        {% if page > 1 %}
        <li class="page-item">
            <a class="page-link" href="{{url_for('sApartado')}}?page={{ page - 1 }}&per_page={{ per_page }}"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% if page != 1 and page != 2 %}
        <li class="page-item"><a class="page-link" href="{{url_for('sApartado')}}">1</a></li>
        {% if page != 3 %}
        <li class="page-item"><a class="page-link disabled">...</a></li>
        {% endif %}
        {% endif %}
        <li class="page-item"><a class="page-link"
                href="{{url_for('sApartado')}}?page={{ page - 1 }}&per_page={{ per_page }}">{{page-1}}</a>
        </li>
        {% endif %}

        <li class="page-item"><a class="page-link active" href="#">{{page}}</a></li>

        {% if page < total_pages %} <li class="page-item"><a class="page-link"
                href="{{url_for('sApartado')}}?page={{ page + 1 }}&per_page={{ per_page }}">{{page+1}}</a>
            </li>
            {% if page != total_pages and page != total_pages-1 %}
            {% if page != total_pages-2 %}
            <li class="page-item"><a class="page-link disabled">...</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link"
                    href="{{url_for('sApartado')}}?page={{ total_pages }}&per_page={{ per_page }}">{{total_pages}}</a>
            </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="{{url_for('sApartado')}}?page={{ page + 1 }}&per_page={{ per_page }}"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
    </ul>
</nav>

{% for apartado in apartado %}
<div class="modal fade" id="staticBackdrop-{{ apartado.id_apartado}}" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmar acción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Desea cancelar el pedido de <strong> {{ apartado.nombre_cliente }} </strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" href="{{ url_for('apartado_eliminar', id=apartado.id_apartado) }}"
                    class="btn-delete"><i class="fas fa-trash-alt"></i> Aceptar</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}